<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
            	<div class="col-md-12">
	                <div class="widget wviolet">
	                    <div ht-widget-header title="{{vm.title}}"></div>
		                    <div class="widget-content question">
		                        <h3>Search for a question</h3>
		                        <form>
			                    <input ng-model="vm.qtitle" class="input_text" type="text" size=100%/>
			                    <button type="submit" ng-click="vm.qsearch()" class="btn btn-primary">Search</button>
			                    <button type="button" ng-click="vm.qask()" class="btn btn-success">Ask a question</button>
			                    </form>	
		                    </div>
	                    <div class="widget-foot">
	                        <div class="clearfix"></div>
	                    </div>
	                </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
					<div class="widget wviolet" ng-if="vm.asking">
						<div ht-widget-header title="Ask a question" allow-collapse="true">
                        </div>                    
                        <div class="widget-content text-center text-info">
                        	<form ng-if="!vm.askSuccessful">
                        		<fieldset>
                        			<label>Title</label>
                        			<input ng-model="vm.newquestion.Title" class="input_text" type="text" size=100%/><br>
                        		</fieldset>
                        		<br>
                        		<fieldset>
                        			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        			<textarea ng-model="vm.newquestion.Post.Body" style="margin: 0px; width: 65%; height: 250px;" size=100%/>
                        		</fieldset><br>
                        		<fieldset>
                        			<label>&nbsp;Tag</label>
                        			<input class="input_text" type="text" size=100%/><br>
                        		</fieldset><br><br>
                        		<button ng-click="vm.submitQuestion()" class="btn btn-primary">Submit</button>
                        		<button ng-click="vm.backToListing()" class="btn btn-danger">Cancel</button>
                        	</form>
                        	<div ng-if="vm.askSuccessful">
                        		<h3>Your question submitted successfully</h3><br>
                        		<button ng-click="vm.backToListing()">Back</button>
                        	</div>
                        </div>
                        
                        <div class="widget-foot">
                        	<div class="clearfix"></div>
                    	</div>
                    </div>                
                
                    <div class="widget wviolet" ng-if="vm.listing">
						<div ht-widget-header title="View" allow-collapse="true">
                        </div>                    
                        <div class="widget-content text-center text-info">
         					<select class="show">
							 	<option value="latest">Latest</option>
							 	<option value="most_vote">Most vote</option>
							 	<option value="unanswered">Unanswered</option>
							 </select>               
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Answers</th>
                                        <th>Votes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="lq in vm.questions">
                                        <td><a ng-click="vm.viewQuestion(lq.Id)">{{lq.Title}}</a></td>
                                        <td>{{lq.Post.Owner.name}}</td>
                                        <td>{{lq.AnswerCount}}</td>
                                        <td>{{lq.Post.Score}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="widget-foot">
                        	<div class="clearfix"></div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
