<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div ht-widget-header title="Administration Tools"></div>
                    <div class="widget-content user">
                    	<div ng-if="vm.isAdmin">
                    		<button type="submit" class="btn btn-primary" ng-click="vm.showFlaggedUsers()">Manage Flagged Users</button>
                    		<button type="submit" class="btn btn-primary" ng-click="vm.showReputationLevels()">Manage Reputation Levels</button>
                    	</div>
                    	
                    	<div ng-if="!vm.isAdmin">
                    		<h3>You do not have permission to access these tools.</h3>
                    	</div>
                    </div>
                </div>
           
            </div>
            
            <div class="row" ng-if="vm.isShowingFlaggedUsers">
                <div class="widget wviolet">
					<div ht-widget-header title="Manage Flagged Users"></div>
                    <div class="widget-content user">
                        <h3>Search for Users</h3>
                    		<form>
                    			<input ng-model="vm.pendingSearch" class="input_text" type="text" size=100%/>
								<button type="submit" class="btn btn-primary">Search</button>
							</form>
							<h5>Order:</h5>
							<select class="show">
							 	<option value="a_z">A - Z</option>
							 	<option value="z_a">Z - A</option>
							 </select> 
							
                    </div>
                    <div class="widget-foot">
                    <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Reputation</th>
                                        <th>Location</th>
                                        <th>Manage User</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="pending_{{lu.id}}" ng-repeat="lu in vm.pendingUsers" ng-if="!vm.successUnflag">
                                        <td><a ng-click=vm.viewUser(lu.id)>{{lu.name}}</a></td>
                                        <td>{{lu.reputation}}</td>
                                        <td>{{lu.location}}</td>
                                        <td>
                                        	<button ng-click="vm.unflag(lu.id)" type="submit" class="btn btn-primary">Unflag</button>
                                        	<button type="submit" class="btn btn-primary">Ban User</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        <div class="clearfix"></div>
                    </div>
                    
                </div>
           
            </div>
            
            <div class="row" ng-if="vm.isShowingReputationLevels">
                <div class="widget wviolet">
					<div ht-widget-header title="Manage Reputation Levels"></div>
                    <div class="widget-content user">

                    </div>
                    <div class="widget-foot">
                    <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Reputation Power</th>
                                        <th>Reputation Level</th>
                                        <th>Submit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    	<td>Do something</td>
                                    	<td><input type="text" width="8" value="Default value goes here."/></td>
                                    	<td><button type="submit" class="btn btn-primary">Update</button></td>
                                    </tr>
                                    <tr>
                                    	<td>Do something else</td>
                                    	<td><input type="text" width="8" value="Default value goes here."/></td>
                                    	<td><button type="submit" class="btn btn-primary">Update</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        <div class="clearfix"></div>
                    </div>
                    
                </div>
           
            </div>
            
        </div>
    </section>
    
</section>

