<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div ht-widget-header title="Administration Tools"></div>
                    <div class="widget-content user">
                    	<div ng-if="vm.isAdmin">
                    		<button type="submit" class="btn btn-primary" ng-click="vm.showFlaggedUsers()">Manage Flagged Users</button>
                    		<button type="submit" class="btn btn-primary" ng-click="vm.showReputationLevels()">Manage Reputation Levels</button>
                    		<button type="submit" class="btn btn-primary" ng-click="vm.showReport()">Generate report</button>
                    		<button type="submit" class="btn btn-success" ng-click="vm.showAdmins()" ng-if="vm.userType == 'System admin'">Manage General Admins</button>
                    	</div>
                    </div>
                </div>
            </div>
            
            <div class="row" ng-if="vm.isShowingFlaggedUsers">
                <div class="widget wviolet">
					<div ht-widget-header title="Manage Flagged Users"></div>
                    <div class="widget-content user">
                        <h3>Search for a user</h3>
                   		<form>
                   			<input ng-model="vm.pendingSearch" class="input_text" type="text" size=100% style="width: 100%; margin-bottom: 5px;"/>
							<button style="margin: 0px;" type="submit" class="btn btn-primary">Search</button>
						</form>
                    </div>
                    <div class="widget-foot">
	                    <table class="table table-condensed table-striped">
	                        <thead>
	                            <tr>
	                                <th>Username</th>
	                                <th>Reputation</th>
	                                <th>Location</th>
	                                <th>Manage User</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr id="pending_{{lu.id}}" ng-repeat="lu in vm.pendingUsers">
	                                <td><a ng-click=vm.viewUser(lu.id)>{{lu.name}}</a></td>
	                                <td>{{lu.reputation}}</td>
	                                <td>{{lu.location}}</td>
	                                <td>
	                                	<button ng-click="vm.unflag(lu)" type="submit" class="btn btn-success">Unflag</button>
	                                	<button ng-click="vm.ban(lu)" type="submit" class="btn btn-danger">Ban User</button>
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>
	                    <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            
            <div class="row" ng-if="vm.isShowingReputationLevels">
                <div class="widget wviolet">
					<div ht-widget-header title="Manage Reputation Levels"></div>
                    <div class="widget-content user">
                    	<h3>Update the level of reputation for each power.</h3>
                    	
                    	<table class="table table-condensed table-striped">
		                    <thead>
		                        <tr>
		                            <th>Reputation Power</th>
		                            <th>Reputation Level</th>
		                            <th>Description</th>
		                        </tr>
		                    </thead>
	                        <tbody>
	                            <tr>
	                            	<td>Delete post</td>
	                            	<td><input class="input_text" type="text" ng-model="vm.reputation.canDelete"/></td>
	                            	<td>From which a user can delete other users' posts.</td>
	                            </tr>
	                            <tr>
	                            	<td>Edit post</td>
	                            	<td><input class="input_text" type="text" ng-model="vm.reputation.canEdit"/></td>
	                            	<td>From which a user can edit other users' posts.</td>
	                            </tr>
	                            <tr>
	                            	<td>Add tag</td>
	                            	<td><input class="input_text" type="text" ng-model="vm.reputation.canAddTag"/></td>
	                            	<td>From which a user can add a tag.</td>
	                            </tr>
	                            <tr>
	                            	<td>Flag question</td>
	                            	<td><input class="input_text" type="text" ng-model="vm.reputation.canFlag"/></td>
	                            	<td>From which a user can flag a question to be duplicated.</td>
	                            </tr>
	                        </tbody>
	                    </table>
	                    
	                    <button style="margin: 0px;" type="submit" class="btn btn-primary" ng-click="vm.updateReputation()">Update</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-foot"></div>
                </div>
            </div>
            
            <div class="row" ng-if="vm.isShowingReport">
                <div class="widget wviolet">
					<div ht-widget-header title="Generate report"></div>
                    <div class="widget-content user">
                    	<h3>Summary report</h3>
                    	<table class="table table-condensed table-striped">
		                    <thead>
		                        <tr>
		                            <th>Number of users</th>
		                            <th>Number of questions</th>
		                            <th>Number of tags</th>
		                            <th>Number of answers</th>
		                            <th>Number of comments</th>
		                        </tr>
		                    </thead>
	                        <tbody>
	                            <tr>
	                            	<td>{{vm.report.userCount}}</td>
	                            	<td>{{vm.report.questionCount}}</td>
	                            	<td>{{vm.report.tagCount}}</td>
	                            	<td>{{vm.report.answerCount}}</td>
	                            	<td>{{vm.report.commentCount}}</td>
	                            </tr>
	                        </tbody>
	                    </table>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-foot"></div>
                </div>
            </div>
            
            <div class="row" ng-if="vm.isShowingAdmins">
                <div class="widget wviolet">
					<div ht-widget-header title="Manage General Admins"></div>
                    <div class="widget-content user">
                        <h3>Search for an admin</h3>
                   		<form>
                   			<input ng-model="vm.adminSearch" class="input_text" type="text" size=100% style="width: 100%; margin-bottom: 5px;"/>
							<button style="margin: 0px;" type="submit" class="btn btn-primary">Search</button>
						</form>
                    </div>
                    <div class="widget-foot">
	                    <table class="table table-condensed table-striped">
	                        <thead>
	                            <tr>
	                                <th>Username</th>
	                                <th>Reputation</th>
	                                <th>Location</th>
	                                <th>Manage Admin</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr id="admin_{{lu.id}}" ng-repeat="lu in vm.admins">
	                                <td><a ng-click=vm.viewUser(lu.id)>{{lu.name}}</a></td>
	                                <td>{{lu.reputation}}</td>
	                                <td>{{lu.location}}</td>
	                                <td>
	                                	<button ng-click="vm.demote(lu)" type="submit" class="btn btn-danger">Demote</button>
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>
	                    <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</section>

